# =========================
# Data & Outputs
# =========================
data/
outputs/
logs/
tabfm/

# =========================
# Environment 
# Set API keys in .env file
# =========================
.env
.venv/
venv/
env/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/

# =========================
# Model Checkpoints
# =========================
*.ckpt
*.pth
*.pt